#nav-mobile {
    /* padding-left:2vh; */
    padding-right: 2vh;
}

.lists {
    width: 100%;
    margin: 10px auto;
}
.listConatiner {
    width: 60%;
    height: 36vh;
    /* background: yellow; */
    margin: 0 auto;
    display: flex;
    padding: 2vh;
    box-shadow: 3px 7px 7px rgba(0, 0, 0, 0.4);
}

#propertyPhotos {
    width: 25%;
    height: 90%;
    background: rgba(0, 0, 0, 0.6);
    margin: 1%;
}
.listInfo {
    display: flex;
    flex-direction: column;
}
.row1 {
    display: flex;
    margin: 0 3vh;
}
#title {
    margin-left: 2vh;
}
.features{
    display: flex;
height: auto;
margin-left: 3vh;
}
.features li{
    border: 1px solid black ;
    padding: 2vh;

}
.row3 {
    margin-left: 3vh;
}
.row4 {
    margin-left: 3vh;

}
#contact {
    padding: 1vh 2vh;
}